// Basic Grid

$container-width: 1007px;
$total-columns  : 4;
$column-width   : 230px;
$gutter-width   : 26px;
$grid-padding   : 26px;
$container-style: magic;

$show-grid-backgrounds: true;

//typography vars

$main-font: 'Helvetica Neue', Arial, sans-serif;
$display-font: Georgia, 'Times New Roman', serif;

$base-font-size: 16px;
$base-line-height: 19px;
$title-fsize: 24px;

