a {
	color: $primary-color;
	text-decoration: none;
	
	figure { background: $primary-color; }

	&, img, p, h1 { @include transition(opacity, 0.2s); }

	&:hover, &:hover img, &:hover h1  { 
		@include opacity(0.5); 
	}
}

strong { font-weight: 800; }
em { font-style: italic; }

img { display: block }

.outline { display: none }
