@charset "UTF-8";
/*  based on HTML5 Boilerplate */
/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
  font-weight: 400;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

button, input, select, textarea {
  margin: 0;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* tables still need cellspacing="0" in the markup */
input, select {
  vertical-align: middle;
}

/* END RESET CSS */
a {
  color: #00b9ff;
  text-decoration: none;
}
a figure {
  background: #00b9ff;
}
a, a img, a p, a h1 {
  -webkit-transition: opacity, 0.2s;
  -moz-transition: opacity, 0.2s;
  -o-transition: opacity, 0.2s;
  transition: opacity, 0.2s;
}
a:hover, a:hover img, a:hover h1 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

strong {
  font-weight: 800;
}

em {
  font-style: italic;
}

img {
  display: block;
}

.outline {
  display: none;
}

html {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 114px solid #00b9ff;
  position: relative;
}

body {
  *zoom: 1;
  max-width: 955px;
  _width: 955px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 66.5px;
  color: #606060;
  height: 100%;
  min-height: 100%;
}
body:after {
  content: "";
  display: table;
  clear: both;
}

#intro {
  width: 100%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
  margin-bottom: 50px;
}
#intro img {
  display: inline;
}
#intro #logo {
  display: inline;
}
#intro #lettering {
  float: right;
  position: relative;
  top: 10px;
}

.menu li {
  display: inline;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
}
.menu li ul {
  display: inline;
}
.menu li .second-level li {
  font-size: 17px;
}

#primary-menu {
  position: relative;
  width: 100%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
  text-align: right;
  margin-bottom: 19px;
}
#primary-menu .second-level {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
  position: absolute;
  z-index: 1;
  top: 38px;
  left: 0;
  background: rgba(1, 183, 252, 0.65);
  padding: 9.5px 0;
}
#primary-menu .second-level a {
  color: #fff;
}
#primary-menu .second-level li {
  margin: 0 19px 0 0;
}
#primary-menu .second-level:after {
  content: '▴';
  font-style: normal;
  font-size: 250px;
  position: absolute;
  top: -13px;
  right: 295px;
  color: #01b7fc;
  font-size: 19px;
  -webkit-transform: scale(3, 1.5);
  -moz-transform: scale(3, 1.5);
  -ms-transform: scale(3, 1.5);
  -o-transform: scale(3, 1.5);
  transform: scale(3, 1.5);
}
#primary-menu li {
  margin-left: 28.5px;
}

#featured {
  width: 100%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
  margin-bottom: 19px;
}
#featured li {
  position: relative;
  margin-bottom: 19px;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
}
#featured li img {
  width: 100%;
}
#featured li:hover header {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
#featured header {
  width: 247px;
  max-height: 200px;
  background: rgba(0, 185, 255, 0.65);
  position: absolute;
  bottom: 50px;
  right: 0%;
  padding: 24px 29px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: opacity, 0.3s;
  -moz-transition: opacity, 0.3s;
  -o-transition: opacity, 0.3s;
  transition: opacity, 0.3s;
}
#featured h1 {
  font-size: 24px;
  font-weight: 800;
  color: #fff300;
  margin-bottom: 30px;
}
#featured p {
  font-size: 14px;
  line-height: 19.2px;
}
#featured a {
  color: #fff;
}

#branding {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
  margin-bottom: 66px;
}
#branding iframe {
  width: 74.3487%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
}
#branding p {
  width: 23.04609%;
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
  font-size: 21px;
  line-height: 22px;
  margin-bottom: 25px;
}
#branding p:last-child {
  margin-bottom: 0;
}

#all-the-work {
  width: 74.3487%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
}

.small-work {
  width: 23.04609%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
  position: relative;
  padding-bottom: 57px;
}
.small-work figure {
  margin-bottom: 4px;
}
.small-work img {
  width: 100%;
}
.small-work h1 {
  height: 38px;
  position: absolute;
  bottom: 19px;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
}

#latest-blog {
  width: 23.04609%;
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
}
#latest-blog > h1 {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
  font-size: 24px;
  margin-bottom: 19px;
}
#latest-blog time {
  display: block;
  color: lightgrey;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 19px;
}
#latest-blog header h1 {
  font-weight: 800;
}
#latest-blog footer {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
  margin: 19px 0 38px 0;
}

#secondary-nav {
  width: auto;
  max-width: 955px;
  min-height: 70px;
  position: absolute;
  bottom: -95px;
  color: #fff;
  background: transparent url(../imgs/footer-gun.gif) no-repeat left center;
}
#secondary-nav img {
  display: inline;
}
#secondary-nav a {
  color: #fff;
}
#secondary-nav nav, #secondary-nav ul, #secondary-nav li {
  display: inline;
  margin-left: 18px;
}
#secondary-nav li li {
  font-weight: 400;
}
#secondary-nav .menu {
  margin-left: 80px;
}
#secondary-nav .menu ul {
  margin: 0;
}
#secondary-nav #social li {
  display: inline;
  margin-left: 8px;
  position: relative;
  top: 8px;
}

.home .small-work {
  width: 30.9973%;
  float: left;
  margin-right: 3.50404%;
  display: inline;
}
.home .small-work:nth-child(3n) {
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
}

.work #primary-menu .second-level {
  background-color: #00b9ff;
}
.work #all-the-work {
  width: 100%;
  margin-top: 57px;
}
.work #all-the-work .small-work {
  width: 23.04609%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
}
.work #all-the-work .small-work:nth-child(4n) {
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
}

#project {
  font-size: 18px;
  line-height: 24px;
}
#project header h1, #project header h2 {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
  margin-bottom: 36px;
}
#project header h1 {
  font-size: 32px;
  margin-bottom: 36px;
}
#project p {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
  color: #606060;
}
#project #content, #project aside {
  width: 48.69739%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
  margin-top: 38px;
}
#project #content iframe, #project #content img, #project #content video, #project #content audio {
  margin: 24px 0;
}
#project #gallery {
  margin-bottom: 38px;
}
#project aside {
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
}
#project #credits {
  color: #00b9ff;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
}
#project #credits a {
  text-decoration: underline;
}
#project #sharing {
  margin-top: -6px;
  margin-bottom: 38px;
}
#project #sharing li {
  display: inline;
  margin-right: 15px;
}
#project #sharing .twitter {
  position: relative;
  top: 2px;
}
#project footer {
  clear: both;
  padding-top: 76px;
}
#project .small-work:last-child {
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
}

.about .small-work:nth-child(4) {
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
}
.about #latest-works {
  clear: both;
  padding-top: 76px;
}

#reel article, #reel #gallery {
  margin-top: 57px;
}
#reel article {
  width: 48.69739%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
}
#reel article p {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
  color: #606060;
  font-size: 24px;
  line-height: 28.5px;
  margin-bottom: 19px;
}
#reel #gallery {
  width: 48.69739%;
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
}

#watergunners {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
  margin-top: 57px;
}
#watergunners h1, #watergunners h2, #watergunners h3 {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
}
#watergunners h1 {
  margin-bottom: 13.3px;
}
#watergunners h2, #watergunners h3 {
  color: #606060;
}
#watergunners hgroup {
  margin: 9.5px 0 19px 0;
}
#watergunners hgroup a {
  color: #606060;
}
#watergunners p {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  margin-bottom: 19px;
  letter-spacing: -0.1em;
}
#watergunners > h1 {
  font-size: 30.4px;
  margin-bottom: 22.8px;
}
#watergunners li {
  width: 23.04609%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
}
#watergunners li:nth-child(4) {
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
}
#watergunners img {
  width: 100%;
}

.blog #primary-menu .second-level {
  background-color: #00b9ff;
}

#blog-navigation, #posts {
  margin-top: 76px;
}

#posts {
  width: 74.3487%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
}
#posts > li {
  margin-bottom: 57px;
  overflow: hidden;
  *zoom: 1;
}
#posts article {
  width: 65.49865%;
  float: left;
  margin-right: 3.50404%;
  display: inline;
  max-width: 573px;
  margin-right: 0;
}
#posts h1 {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
  font-size: 21px;
  line-height: 24px;
}
#posts p {
  font-size: 14px;
  margin-bottom: 19px;
}
#posts img {
  display: block;
  margin: 19px auto;
  max-width: 100%;
}
#posts time {
  display: block;
  color: lightgrey;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 19px;
}
#posts #sharing {
  width: 30.9973%;
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
  width: 170px;
  padding-top: 63px;
}

#blog-navigation {
  width: 23.04609%;
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
}
#blog-navigation h1 {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
  font-size: 24px;
  margin-bottom: 43.7px;
}
#blog-navigation a {
  font-size: 16px;
  color: #606060;
}
#blog-navigation ul {
  margin-bottom: 38px;
}

.contact #primary-menu .second-level {
  background-color: #00b9ff;
}
.contact .small-work:nth-child(4) {
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
}
.contact #latest-works {
  clear: both;
  padding-top: 57px;
}

#contact-info {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
  margin-top: 76px;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 18px;
  line-height: 21px;
}
#contact-info h1, #contact-info h2 {
  font-weight: 800;
}
#contact-info h1, #contact-info hgroup, #contact-info li {
  margin-bottom: 19px;
}
#contact-info li {
  color: #00b9ff;
}
#contact-info article, #contact-info aside {
  width: 23.04609%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
}
#contact-info aside {
  max-width: 206px;
}
#contact-info aside a {
  font-weight: 800;
  color: #606060;
  display: block;
  margin-top: 19px;
}

.js .carousel {
  overflow: hidden;
  position: relative;
  padding-bottom: 34px;
}
.js .carousel ul {
  width: 20000em;
  position: absolute;
}
.js .carousel li {
  float: left;
  width: 100%;
}
.js #gallery {
  height: 262px;
}
.js #gallery li {
  max-width: 466px;
}
.js #featured {
  height: 450px;
}
.js #featured li {
  max-width: 955px;
}
.js #car_nav {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
}
.js #car_nav ol {
  display: inline;
}
.js #car_nav li {
  display: inline;
  float: none;
  margin-right: 10px;
}
.js #car_nav a {
  color: #00b9ff;
  font-size: 20px;
}

/*  small desktop screens ----------- */
@media only screen and (max-width: 1020px) {
  #secondary-nav .second-level {
    display: none;
  }
}
