@charset "UTF-8";
/*  based on HTML5 Boilerplate */
/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
  font-weight: 400;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

button, input, select, textarea {
  margin: 0;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* tables still need cellspacing="0" in the markup */
input, select {
  vertical-align: middle;
}

/* END RESET CSS */
a {
  color: #00b9ff;
  text-decoration: none;
  -webkit-transition: opacity, 0.1s;
  -moz-transition: opacity, 0.1s;
  -o-transition: opacity, 0.1s;
  transition: opacity, 0.1s;
}
a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.outline {
  display: none;
}

html {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 114px solid #00b9ff;
  position: relative;
}

body {
  *zoom: 1;
  max-width: 955px;
  _width: 955px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 5%;
  color: #505050;
  height: 100%;
  min-height: 100%;
}
body:after {
  content: "";
  display: table;
  clear: both;
}

#intro {
  width: 100%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
}
#intro #logo {
  display: inline;
}
#intro #lettering {
  float: right;
}

.menu li {
  display: inline;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
}
.menu li ul {
  display: inline;
}

#primary-menu {
  position: relative;
  width: 100%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
  text-align: right;
  margin-bottom: 4px;
}
#primary-menu .second-level {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
  position: absolute;
  z-index: 1;
  top: 24px;
  left: 0;
  background: rgba(0, 185, 255, 0.65);
  padding: 9.5px 0;
}
#primary-menu .second-level a {
  color: #fff;
}
#primary-menu .second-level li {
  margin: 0 19px 0 0;
}
#primary-menu .second-level:after {
  content: '▴';
  font-style: normal;
  position: absolute;
  top: -13px;
  right: 290px;
  color: #00b9ff;
}
#primary-menu li {
  margin-left: 28.5px;
}

#featured {
  width: 100%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
  margin-bottom: 38px;
}
#featured li {
  position: relative;
  margin-bottom: 19px;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
}
#featured li img {
  width: 100%;
}
#featured li:hover header {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
#featured header {
  width: 305px;
  max-height: 200px;
  background: rgba(0, 185, 255, 0.65);
  position: absolute;
  bottom: 50px;
  right: 0;
  padding: 19px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: opacity, 0.3s;
  -moz-transition: opacity, 0.3s;
  -o-transition: opacity, 0.3s;
  transition: opacity, 0.3s;
}
#featured h1 {
  font-size: 24px;
  font-weight: 800;
  color: #fff300;
  margin-bottom: 19px;
}
#featured p {
  font-size: 14px;
}
#featured a {
  color: #fff;
}

#branding {
  width: 100%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
  margin-bottom: 38px;
}
#branding iframe {
  width: 74.3487%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
}
#branding p {
  width: 23.04609%;
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
  font-size: 21px;
  line-height: 22px;
  margin-bottom: 25px;
}
#branding p p:last-child {
  margin-bottom: 0;
}

#all-the-work {
  width: 74.3487%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
}

.small-work {
  width: 23.04609%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
  position: relative;
  padding-bottom: 57px;
}
.small-work img {
  width: 100%;
}
.small-work h1 {
  height: 38px;
  position: absolute;
  bottom: 19px;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
}

#latest-blog {
  width: 23.04609%;
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
}
#latest-blog > h1 {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
  font-size: 24px;
  margin-bottom: 19px;
}
#latest-blog time {
  display: block;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 19px;
}
#latest-blog header h1 {
  font-weight: 800;
}
#latest-blog footer {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
  margin: 19px 0 38px 0;
}

#secondary-nav {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
  width: 955px;
  min-height: 70px;
  position: absolute;
  bottom: -95px;
  color: #fff;
  background: transparent url(../imgs/footer-gun.gif) no-repeat left center;
}
#secondary-nav a {
  color: #fff;
}
#secondary-nav nav, #secondary-nav ul, #secondary-nav li {
  display: inline;
  margin-left: 18px;
}
#secondary-nav li li {
  font-weight: 400;
}
#secondary-nav .menu {
  margin-left: 80px;
}
#secondary-nav .menu ul {
  margin: 0;
}
#secondary-nav #social li {
  margin-left: 8px;
  position: relative;
  top: 8px;
}

.home .small-work {
  width: 30.9973%;
  float: left;
  margin-right: 3.50404%;
  display: inline;
}
.home .small-work:nth-child(3n) {
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
}

.work #primary-menu .second-level {
  background-color: #00b9ff;
}
.work #all-the-work {
  width: 100%;
  margin-top: 57px;
}
.work #all-the-work .small-work {
  width: 23.04609%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
}
.work #all-the-work .small-work:nth-child(4n) {
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
}

#project header h1, #project header h2 {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: 800;
  color: #00b9ff;
  margin-bottom: 19px;
}
#project header h1 {
  font-size: 32px;
}
#project p {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 19px;
  color: #505050;
}
#project #content, #project aside {
  width: 48.69739%;
  float: left;
  margin-right: 2.60521%;
  display: inline;
  margin-top: 19px;
}
#project aside {
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
}
#project #credits {
  color: #00b9ff;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
}
#project #credits a {
  text-decoration: underline;
}
#project #sharing margin
li {
  display: inline;
}
#project footer {
  clear: both;
  padding-top: 19px;
}
#project .small-work:last-child {
  float: right;
  margin-right: 0;
  #margin-left: -26px;
  display: inline;
}

.js .carousel {
  overflow: hidden;
  position: relative;
  padding-bottom: 19px;
}
.js .carousel ul {
  width: 20000em;
  position: absolute;
}
.js .carousel li {
  float: left;
  width: 100%;
}
.js #gallery {
  height: 262px;
}
.js #gallery li {
  max-width: 466px;
}
.js #featured {
  height: 450px;
}
.js #featured li {
  max-width: 955px;
}
.js #car_nav {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -40px;
}
.js #car_nav li {
  display: inline;
  float: none;
  margin-right: 5px;
}
.js #car_nav a {
  color: #00b9ff;
}
